
.Header-leftSz5vk {
    font-size: 12px;
}

.Header-left-navWZf2z {
    font-size: 12px;
}

.Header-right316ik {
    font-size: 12px;
}

.Header-logo-imgNhjwP {
    font-size: 12px;
}

.Sidebar-listOhyOz {
    font-size: 12px;
}

.Header-link0GtnK {
    font-size: 12px;
}

.Sidebar-itemqUUhg {
    font-size: 12px;
}

.Sidebar-heading8IS28 {
    font-size: 12px;
}